{% extends "layout.html" %}
{% block title %}

{% endblock %}
{% block main %}
 
  <div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">THINK ONE PERCENT AT A TIME</h5>
    <p class="card-text">Resolve to put just one percent of your income into savings over the next month. By doing so, you’ll flip an important mental switch: Before, you were someone who wasn’t saving for the long term, but now you are.
     <div> That’s a key difference, because it’s much easier to ramp up your savings if you’ve already formed the habit. So however modest, take the first step.</div> </p>
    
  </div>
  <div class="card-footer text-body-secondary">
    
  </div>
</div>

 <div class="card text-center">
  <div class="card-header">
  
  </div>
  <div class="card-body">
    <h5 class="card-title">GET ANALYTICAL ABOUT YOUR BUDGET</h5>
    <p class="card-text">You may think you have no breathing room, but take a hard look at the money you shelled out over the past month. Divide every cost into two categories: “need” and “want.”
      <div> Then go through your “wants.” Are you getting manicures when you could touch up at home? Friday night takeout pizza when frozen would do? Reduce those extra expenses to create space in your budget for regular saving.</div>
  </div>
  <div class="card-footer text-body-secondary">
  
  </div>
</div>


 <div class="card text-center">
  <div class="card-header">
   
  </div>
  <div class="card-body">
    <h5 class="card-title">PRIORITIZE YOUR FUTURE SELF</h5>
    <p class="card-text">Each month, you pay regular bills: your cell phone, your student loan, your rent. Add someone else to that list: your future self.</p>
      <div>When you treat savings as mandatory, you make it that much easier to stay serious about staying on track.</div>
    
  </div>
  <div class="card-footer text-body-secondary">
    
  </div>
</div>


 <div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">MAKE IT AUTOMATIC</h5>
    <p class="card-text">Once you’ve figured out how much you want to save each month, and you’re confident you’ll pull in enough income to meet that goal, you can set up automatic transfers between your checking and savings accounts. </p>
    <div>.
</div>  By automating deposits, you can eliminate the temptation to redirect your extra money to other things.
  </div>
  <div class="card-footer text-body-secondary">
   
  </div>
</div>

 <div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">GO SLOW AND STEADY</h5>
    <p class="card-text"> 
Saving for a down payment on a house, an emergency fund or a hard-earned vacation might seem an impossible hurdle. But remember that you can achieve your most ambitious savings goals if you work toward them gradually and in small increments. </p>
<div>By forming the basic habit of saving and by sticking to specific, attainable goals, you’ll lay the groundwork for a lifetime of financial progress. </div>
     
    
  </div>
  <div class="card-footer text-body-secondary">

  </div>
</div>
 <div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">PAY DOWN HIGH-INTEREST DEBT</h5>
    <p class="card-text"> Debt can get in the way of your savings efforts and make it challenging to reach your goals. Focus on paying down any high-interest debt you may have.</p>


      <div>
        Credit cards, for instance, tend to have higher interest rates, meaning your interest payments might cost more than what you could earn from saving or investing your money. Paying this type of debt down can save you money in the long run.

    </div> 
    
  </div>
  <div class="card-footer text-body-secondary">
    
  </div>
</div>
 <div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">CHOOSE THE SAVINGS PLAN THAT'S BEST FOR YOU</h5>
    <p class="card-text">Your savings priorities are personal, and they may change and evolve with your circumstances.</p>
    <div>  But having a savings plan in place can help prepare you for the unexpected and put you on the path toward achieving your goals.</div> 
      
    
  </div>
  <div class="card-footer text-body-secondary">
  <a href="https://bettermoneyhabits.bankofamerica.com/en/saving-budgeting/how-to-start-saving-money" class="btn btn-primary">For further info, check out the reference from Bank of America</a>
  </div>
</div>

{% endblock %}